name: Hello world workflow

on: 
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - names: "hello world"
        run: echo "Hello World"
        shell: terminal

    goodbye:
      runs-on: ubuntu-latest
      steps:
        -name: "goodbye world"
        -run: echo "Goodbye World"
        shell: terminal
